<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<%- include('partials/header'); %>
<main>

<h1>Posts</h1>

<div class="posts list">


    <%if (posts.length > 0) { %>

        <h2>All posts</h2>
        <% posts.forEach(post => { %>
            <div class="post">
                <a href="/singlepost/<%= post.id %>">
                    <div>
                        <div class="post-info">
                            <img class="post-author-photo" src="<%= (post.authorPhoto != null) ? post.authorPhoto : '/assets/user.png' %>">
                            <p class="date"><%= post.date %></p>
                        </div>
                        <img class="post-image" src="<%= post.image %>">
                        <p class="post-text"><%= post.text %></p>
                    </div>
                </a>
                <button class="like-button" data-id="<%= post.id %>"> <%= post.likes %></button>
            </div>
        <% }) %>

    <% } else { %>
    <h2>You did not post anything!</h2>
    <% } %>
</div>

</main>
<%- include('partials/footer'); %>
</body>
</html>