<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>

    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<%- include('partials/header'); %>
<main>
    <h1>Post</h1>

    <div class="post">
        <div class="post-info">
            <img class="post-author-photo" src="<%= post.authorPhoto %>">
            <p class="date"><%= post.date %></p>
        </div>
        <img class="post-image" src="<%= post.image %>">
        <p class="post-text"><%= post.text %></p>
        <button class="like-button" data-id="<%= post.id %>"> <%= post.likes %></button>

        <a class="delete" data-del="<%= post.id %>">Delete</a>
    </div>

    <script>
        const delreq = document.querySelector('a.delete');
        delreq.addEventListener('click', (e) => {
            const endpoint = `/posts/${delreq.dataset.del}`;
            fetch(endpoint, {
                method: 'DELETE',
            }).then(window.location.href = '/posts')
        });

        const likereq = document.querySelector('button.like-button');
        likereq.addEventListener('click', (e) => {
            const endpoint = `/posts/${likereq.dataset.id}`;
            fetch(endpoint, {
                method: 'PUT',
            }).then(window.location.reload());
        });

    </script>

</main>
<%- include('partials/footer'); %>
</body>
</html>